@model List<PracticaProfesional2025.ViewModels.ReporteDiaViewModel>

<h2 class="mb-4">Reporte de Ventas por Fechas</h2>

<form method="get" asp-action="ReportePorFecha" class="mb-4 row g-2">
    <div class="col-md-4">
        <label class="form-label">Desde:</label>
        <input type="date" name="desde" class="form-control" value="@ViewBag.Desde?.ToString("yyyy-MM-dd")" />
    </div>

    <div class="col-md-4">
        <label class="form-label">Hasta:</label>
        <input type="date" name="hasta" class="form-control" value="@ViewBag.Hasta?.ToString("yyyy-MM-dd")" />
    </div>

    <div class="col-md-4 d-flex align-items-end">
        <button class="btn btn-primary w-100" type="submit">Buscar</button>
    </div>
</form>

@if (!Model.Any())
{
    <p class="text-danger">No se encontraron ventas en ese rango.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Total del Día</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Fecha.ToShortDateString()</td>
                    <td>$@d.TotalDia</td>
                    <td>
                        <a asp-action="DetallePorDia"
                           asp-route-fecha="@d.Fecha.ToString("yyyy-MM-dd")"
                           asp-route-desde="@ViewBag.Desde?.ToString("yyyy-MM-dd")"
                           asp-route-hasta="@ViewBag.Hasta?.ToString("yyyy-MM-dd")"
                           class="btn btn-primary btn-sm">
                            Ver detalles
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (ViewBag.TotalPages > 1)
    {
        <nav>
            <ul class="pagination justify-content-center">

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link"
                           asp-action="ReportePorFecha"
                           asp-route-page="@i"
                           asp-route-desde="@ViewBag.Desde?.ToString("yyyy-MM-dd")"
                           asp-route-hasta="@ViewBag.Hasta?.ToString("yyyy-MM-dd")">
                            @i
                        </a>
                    </li>
                }

            </ul>
        </nav>
   } 

}



